.contenido {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(49, 41, 124);
    z-index: 200;
}

.contenido::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

.contenido::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(103, 177, 103), rgb(225, 250, 5));
    clip-path: circle(20% at 10% 10%);
    z-index: 2;
}

.contenido {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200vh;
    flex-wrap: wrap;
}

.contenido .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgb(17, 105, 142);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 3;
}

.contenido .card .content {
    margin-top: -90px;
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    top: -20px;
}

.contenido .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
    margin-top: 120px;
}

.contenido .card .content h2 {
    position: absolute;
    top: -129px;
    right: 10px;
    font-size: 8em;
    color: rgb(30, 30, 36);
    pointer-events: none;
}

.contenido .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.contenido .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.contenido .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    z-index: 23;
    box-shadow: 0 5px 15px (0, 0, 0, 0.5);
}